<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dbit.byb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileHome" />
        <activity android:name=".testmainpage" />
        <activity android:name=".subject" />
        <activity android:name=".softskill" />
        <activity android:name=".apptitude" />
        <activity android:name=".jobinterview" />
        <activity android:name=".selfdevprofile" />
        <activity android:name=".communication" />
        <activity android:name=".leadership" />
        <activity android:name=".timemanagement" />
        <activity android:name=".stressmanagement" />
        <activity android:name=".reasoning" />
        <activity android:name=".quantitative" />
        <activity android:name=".addschedule" />
        <activity android:name=".manageschedule" />
        <activity android:name=".goalEvaluation"></activity>
    </application>

</manifest>